@using Lab3.Models
@model Client


<div class="row justify-content-center align-items-center h-100">
    <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Client Form</h3>
                <form asp-action="EditOrCreate" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="UserID" />
                    <input type="hidden" asp-for="ClientID" />

                    <div class="d-flex justify-content-center mb-2">
                        @if (Model.Photo != null)
                        {
                            <img id="selectedAvatar"  src="data:image/jpeg;base64,@ConvertHelper.GetBase64String(Model.Photo)"
                                 class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;" alt="example placeholder">
                        }
                        else
                        {
                            <img id="selectedAvatar" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                 class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;" alt="example placeholder">
                        }
                        
                    </div>
                    <div class="d-flex justify-content-center mb-2">
                        <div class="btn btn-primary btn-rounded">
                            <label class="form-label text-white m-1" for="customFile2">Choose file</label>
                            <input type="file" name="upload" id="upload" onchange="displaySelectedImage(event, 'selectedAvatar')">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="form-floating mb-3">
                                <input asp-for="FirstName" type="text" class="form-control" id="firstName" placeholder="First Name">
                                <label for="firstName">First Name</label>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-floating mb-3">
                                <input asp-for="LastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
                                <label for="lastName">Last Name</label>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4 d-flex align-items-center">
                            <div class="form-floating mb-3">
                                <input asp-for="Age" type="number" class="form-control" id="age" placeholder="Age" min="18">
                                <label for="age">Age</label>
                                <span asp-validation-for="Age" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <h6 class="mb-2 pb-1">Gender:</h6>
                            <div class="form-check form-check-inline">
                                <input asp-for="Gender" class="form-check-input" type="radio" id="femaleGender" value="female">
                                <label class="form-check-label" for="femaleGender">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input asp-for="Gender" class="form-check-input" type="radio" id="maleGender" value="male">
                                <label class="form-check-label" for="maleGender">Male</label>
                            </div>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4 pb-2">
                            <div class="form-floating mb-3">
                                <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Email">
                                <label for="email">Email</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4 pb-2">
                            <div class="form-floating mb-3">
                                <input asp-for="Phone" type="tel" class="form-control" id="phone" placeholder="Phone number">
                                <label for="phone">Phone number</label>
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                            

                    <div class="row mt-4 pt-2">
                        <input type="submit" value="Save" class="btn btn-primary btn-lg">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

   
<script>
   
    function displaySelectedImage(event, elementId) {
        const selectedImage = document.getElementById(elementId);
        const fileInput = event.target;

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                selectedImage.src = e.target.result;
            };

            reader.readAsDataURL(fileInput.files[0]);
        }
    }
</script>
