@{
    ViewData["Title"] = "Clients";
}
@using Lab3.Models
@model IEnumerable<Client>

<h2>Clients</h2>
<div class="w-175 d-flex justify-content-between p-3">
    <div class="form-group col-md-6  w-100">
        <form asp-action="Filter" enctype="multipart/form-data">

            <div class="row d-flex justify-content-between">

                <div class="col-md-6 form-floating mb-4 w-25">
                    <input for="FirstName" name="FirstName" type="text" class="form-control" id="FirstName" placeholder="First Name">
                    <label for="FirstName">First Name</label>
                </div>
                <div class="col-md-6 form-floating mb-4 w-25">
                    <input for="LastName" name="LastName" type="text" class="form-control" id="LastName" placeholder="Last Name">
                    <label for="LastName">Last Name</label>
                </div>
                <div class="col-md-6 form-floating mb-4 w-25">
                    <input for="Phone" name="Phone" type="tel" class="form-control" id="Phone" placeholder="Phone">
                    <label for="Phone">Phone</label>
                </div>
                
                <div class="col-md-6 mb-4 w-auto">
                    <input type="submit" value="🔍" class="btn btn-primary btn-lg">
                </div>
            </div>
        </form>
    </div>
</div>
@foreach (var u in Model)
{
    <br />
    <partial name="_ClientCard" model="u" />
}

