@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @{
        bool loggedInUser = HttpContextAccessor.HttpContext.Session.GetString("LoggedInUser").Equals("true");
    }
    @if (loggedInUser)
    {
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    }
    else
    {
            <h1 class="display-4">Please Log In</h1>
    }
</div>
