@{
    ViewData["Title"] = "Appointments";
}
@using Lab3.Models
@using Lab3.ViewModel
@model IEnumerable<AppointmentView>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<h2>Appointments</h2>
@if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "client")
{
    <div class="form-group col-md-6">
        <a asp-action="Create" class="btn btn-secondary btn-block"><i class="fa fa-table"></i>Create New Appointment</a>
    </div>
}
@foreach (var appointment in Model)
{
        <partial name="_AppointmentCard" model="appointment"/>
}